:root {
  --main-color: #757575;
  --dark-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body { 
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-bottom: auto;
  outline: 2px solid tomato;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flexbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  margin-right: 85px;
}

.menu-list,
.contacts-list {
  display: flex;
  padding: 32px 0;
}

.menu-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.accent-blue,
.menu-list .current {
  color: var(--accent-color);
}

.accent-black {
  color: var(--dark-color);
}

.accent-white,
.white {
    color: var(--white);
}

.contacts-link {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}

.hero {
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.btn-studio {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.advantages {
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--dark-color);
}

.second-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  color: var(--dark-color);
  text-align: center;
}

.examples {
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: var(--dark-color);
}

.employee-profession {
  font-size: 16px;
  line-height: 1.187;
  color: var(--main-color);
  text-decoration: none;
}

.employee {
    text-decoration: none;
}

footer {
    background-color: var(--footer-bg-color);
}

.footer-addres {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}

.list .link{
  text-decoration: none;
  font-style: normal;
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--dark-color);
  border-radius: 4px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter {
font-weight: 700;
font-size: 2;
line-height: 36px;
letter-spacing: 0.06em;
color: var(--dark-color);
text-decoration: none; 
}

.filter-title {
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-color);
  text-decoration: none
}

.filter-description {
  font-size: 18px;
  line-height: 1.555;
  background-color: rgba(33, 150, 243, 0.9);;
  color: var(--white);
  text-decoration: none;
}