body { 
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.list {
  list-style: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
}

.accent-blue,
.menu-list .current {
  color: #2196f3;
}

.accent-black {
  color: #212121;
}

.accent-white,
.white {
    color: #FFFFFF;
}

.menu-link {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.footer .link:hover,
.footer .link:focus, {
  color: #2196f3;
}

.contacts-link {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.hero {
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.btn-studio {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.advantages {
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: #212121;
}

.second-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  color: #212121;
  text-align: center;
}

.examples {
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: #212121;
}

.employee-profession {
  font-size: 16px;
  line-height: 1.187;
  color: #757575;
  text-decoration: none;
}

.employee {
    text-decoration: none;
}

footer {
    background-color: #2F303A;
}

.footer-addres {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}

.list .link{
  text-decoration: none;
  font-style: normal;
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  background-color: #F5F4FA;
  color: #212121;
  border-radius: 4px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter {
font-weight: 700;
font-size: 2;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
text-decoration: none; 
}

.filter-title {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  text-decoration: none
}

.filter-description {
  font-size: 18px;
  line-height: 1.555;
  background-color: rgba(33, 150, 243, 0.9);;
  color: #FFFFFF;
  text-decoration: none;
}